@model Project_HTP.Models.StudentList

@{
    ViewData["Title"] = "AddOrEdit";
}

<h4>Bảng Thông Tin Sinh Viên</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentListId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="ShortDescription" class="control-label"></label>
                    <input asp-for="ShortDescription" class="form-control" />
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="FullContent" class="control-label"></label>
                    <input asp-for="FullContent" class="form-control" />
                    <span asp-validation-for="FullContent" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CoverImg" class="control-label"></label>
                <input asp-for="CoverImg" class="form-control" />
                <span asp-validation-for="CoverImg" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Đồng ý" class="btn btn-primary btn-block" />
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i> Trở về</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
