<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project_HTP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="~/icon/Logo_htp.jpg" alt="logo" width="80" height="80"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="menu navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="login navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Index">Đăng Nhập</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1 ">
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Index">Giới Thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="StudentLists" asp-action="">Danh Sách Sinh Viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Index">Nhà Tài Trợ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Index">Tài Chính</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Index">Tình Nguyện Viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Index">Hoạt Động</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text" asp-area="" asp-controller="Home" asp-action="Index">Pháp Lý</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-inline foot-menu">
                        <li>
                            <a href="#">Information</a>
                        </li>
                        <li>
                            <a href="#">What next</a>
                        </li>
                        <li>
                            <a href="#">Policies</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-inline text-right social">
                        <li>
                            <a href="https://www.instagram.com/?hl=vi"><img src="~/icon/Instagram_svg.png" alt="instagram" width="25" height="28"></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCM41OLqh8vIL0UH6qQ-qM_g"><img src="~/icon/Youtube_svg.png" alt="youtube" width="25" height="28"></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/htpfoundation/"><img src="~/icon/Facebook_svg.png" alt="facebook" width="25" height="28"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 namcopy">
                    Quỹ học bỗng Huỳnh Tấn Phát . <br>11 Lê Ngô Cát, P7, Q3, TP.HCM. <br>Phone: 0765261579‬ (Ms Ngọc). <br>Email: quyhocbonghuynhtanphat@gmail.com
                </div>
                <div class="copy text-right namcopy"> &copy; 2020 - Nhan Tong Application</div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>